.container {
  width: 100%;
  font-family: "Rajdhani", serif;
  height: 100% !important;
}

.image {
  transition: opacity 1s;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width:641px) {
  .imgContainer {
    width: 100%  !important;
    height: 60% !important;
  }
}
.imgContainer {
  width: 65%;
  min-height: 40%;
  height: 75%;
}
.image-visible {
  opacity: 1;
  max-width: 100%;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #efefef;
}
.image-hidden {
  opacity: 0;
}



